body {
    background-color: rgb(18, 18, 44);
}

.container {
    display: grid;
    place-content: center;
}

.box {
    margin: 200px;
    background-color: rgb(30, 30, 51);
    width: 300px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 20px 20px 40px rgb(0, 0, 0);
    text-align: center;
}

.title {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    transform: translateX(-25px);

}

.title-description {
    color: rgb(133, 130, 130);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    max-width: 250px;
    transform: translateX(50px);
}

.circle {
    margin: 5px;
    border-radius: 50px;
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: black;
}

.description {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 15px;
}